<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form   th:object="${customer}">
    <input th:type="hidden" id="idCustomer"  name="id" th:field="*{id}">
    <table class="table">
        <tr>
            <th >firstName</th>
            <th><input type="text" th:field="*{firstName}"/></th>
            <td th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">firstName</td>
        </tr>
        <tr>
            <th>lastName</th>
            <th><input type="text" th:field="*{lastName}"/></th>
            <td th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">lastName</td>
        </tr>
        <tr>

            <th>
                <input type="submit" value="Create customer" onclick="EditCustomer()"></th>
        </tr>
    </table>
</form>
</body>
</html>
<script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous">
</script>
<script type="text/javascript">
    function EditCustomer() {
        let idClass = $('#idCustomer').val();
        var firstName = $('#firstName').val();
        var lastName = $('#lastName').val();
        var json = {"firstName": firstName, "lastName": lastName};
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            type: "PUT",

            url:"/customers/edit/"+ idClass,

            data: JSON.stringify(json),
                success: function(customer) {
                    var respContent = "";
                    respContent += "<span class='success'>Create Oke: [";
                    respContent += customer.firstName + " : ";
                    respContent += customer.lastName + "]</span>"
                    $("#result").html(respContent);
                }
            });
            event.preventDefault();
            };
</script>
