<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<body>
<table class="table">
    <thead>
    <tr>
        <th >firstName</th>
        <th >lastName</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="product: ${product}">
        <th ><a th:text="${product.id}"></a></th>
        <td><a th:text="${product.firstName}"></a></td>
        <td><a th:text="${product.lastName}"></a></td>
    </tr>
    </tbody>
</table>
</body>
</html>